.favorite-btn {
  width: 30px;
  height: 30px;
  background-color: rgba(226, 222, 222, 0.041);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
  font-size: 10;
  animation: bounceOut; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}

.active {
  transition: 0.4s;
  color: rgb(185, 0, 25);
  display: inline-block;
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s;
}
